<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
        GEMAK
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include ('../../partials/head.html') %> 
        <!------incluir cabezera navegacion----->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
        <!-- GENERAR EXCEL -->
        <script src="https://cdn.jsdelivr.net/alasql/0.3/alasql.min.js"></script><!-- GENERAR EXCEL -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.7.12/xlsx.core.min.js"></script>
        <!-- GENERAR EXCEL -->
        <!-----------------------------------------------     FECHAS MOMENTS     ---------------------------------------------------------------->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
        <script type="text/javascript" src="js/Almacen/ReporteArticuloAdmin/Reporte.js"></script>
</head>

<body onload="ExistenciasGaveta()">
    <%- include ('../../partials/navegacion.html') %> 
        <!------incluir navegacion Menu----->


</body>