
<html>
<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://unpkg.com/ml5@0.4.3/dist/ml5.min.js"></script>
</head>
<body >

	<iframe style='display:none' id='frame' width='400' height='400' frameborder='0'></iframe>

<script>/*
fetch('https://www.eldolar.info/es-MX/mexico/dia/hoy/')
  .then(response => response.json())
  .then(data => {
    // Here's a list of repos!
    console.log(data)
  });*/

  //const url = "https://www.amazon.com.mx/s?k="+Articulo+"&__mk_es_MX=%C3%85M%C3%85%C5%BD%C3%95%C3%91&ref=nb_sb_noss_2"; // site that doesn’t send Access-Control-*


  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////// SI JALA ////////////////////////////////////////////////////////////////////////
	  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	  /*
  const proxyurl = "https://cors-anywhere.herokuapp.com/";
  var Articulo = 'agua';
const url = "https://www.soriana.com/soriana/es/search/?text="+Articulo; // site that doesn’t send Access-Control-*
fetch(proxyurl + url) // https://cors-anywhere.herokuapp.com/https://example.com
  .then(response => response.text())  
.then(html => {
  console.log(html);
  document.getElementById('data').innerHTML = html;
})
.catch((err) => console.log("Can’t access " + url + " response. Blocked by browser?" + err));*/
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////// SI JALA ////////////////////////////////////////////////////////////////////////
	  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
 
</script>


<html>
    <body>
       <div id='data'>
      </div>
      
    </body>
</html>
 
</body>
</html>