<!DOCTYPE html>
<html lang="en">

<head>
  <title>Gemak Control</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%- include ('../partials/head.html') %>
  <!------incluir cabezera navegacion----->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <!--===============================================================================================-->
  <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
  <!--===============================================================================================-->
  <!--<link rel="stylesheet" type="text/css" href="css/util.css">-->
  <link rel="stylesheet" type="text/css" href="css/login.css">
  <link rel="stylesheet" type="text/css" href="css/cards.css">
  <!--===============================================================================================-->
</head>

<body>
  <%- include ('../partials/navegacion.html')%>

  <section class="our-webcoderskull padding-lg">
    <div class="container">
      <div class="row heading heading-icon">
      </div>
      <ul class="row">
        <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><a href="/wh_Recepcion"><img src="images/Recepcion.png" class="img-responsive" alt=""> </a></figure>
            <h3><a href="/wh_Recepcion">Recepción</a></h3>
            <p>Recepción de insumos almacén</p>
            <ul class="follow-us clearfix">
            </ul>
          </div>
        </li>
        <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><a href="/wh_ProdNuevo"><img src="images/Editar.png" class="img-responsive" alt=""></a></figure>
            <h3><a href="/wh_ProdNuevo">Nuevo articulo </a></h3>
            <p>Crear nuevo articulo para almacen.</p>
            <ul class="follow-us clearfix">
            </ul>
          </div>
        </li>
        <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><a href="/wh_Editar"><img src="images/Editar.png" class="img-responsive" alt=""></a></figure>
            <h3><a href="/wh_Editar">Editar </a></h3>
            <p>Crea cambios en los articulos.</p>
            <ul class="follow-us clearfix">
            </ul>
          </div>
        </li>

        <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><a href="/AjusteInventario"><img src="images/Ajustes.svg" class="img-responsive" alt=""></a>
            </figure>
            <h3><a href="/AjusteInventario">Ajustes </a></h3>
            <p>Ajustes de inventario</p>
            <ul class="follow-us clearfix">
            </ul>
          </div>
        </li>

        <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><a href="/ExistenciasAlmacen"><img src="images/Almacen.png" class="img-responsive" alt=""></a>
            </figure>
            <h3><a href="/ExistenciasAlmacen">Existencias </a></h3>
            <p>Almacen Completo</p>
            <ul class="follow-us clearfix">
            </ul>
          </div>
        </li>

        <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><a href="/ReporteConsumos"><img src="images/ReporteAlmacen.png" class="img-responsive" alt=""></a>
            </figure>
            <h3><a href="/ReporteConsumos">Reporte Consumos</a></h3>
            <p>Consumos, min y max</p>
            <ul class="follow-us clearfix">
            </ul>
          </div>
        </li>

        <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><a href="/whCompras"><img src="images/Compras.jpg" class="img-responsive" alt=""></a></figure>
            <h3><a href="/whCompras">Compras </a></h3>
            <p>Listas de articulos cotizados</p>
            <ul class="follow-us clearfix">
            </ul>
          </div>
        </li>

    <!--     <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><a href="/Signup"><img src="images/usuarios.png" class="img-responsive" alt=""></a></figure>
            <h3><a href="/Signup">USUARIOS</a></h3>
            <p>Registro para usuarios nuevos</p>
            <ul class="follow-us clearfix">
            </ul>
          </div>
        </li> -->

        <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><a href="/TablaProvedores"><img src="images/proveedores.png" class="img-responsive" alt=""></a></figure>
            <h3><a href="/TablaProvedores">Proveedores</a></h3>
            <p>Registro para proveedores nuevos</p>
            <ul class="follow-us clearfix">
            </ul>
          </div>
        </li>

        <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><a href="/wh_ReporteArticuloAdmin"><img src="images/dinero.jpg" class="img-responsive" alt=""></a></figure>
            <h3><a href="/wh_ReporteArticuloAdmin">Reporte Articulo/OT</a></h3>
            <p>Reporte Articulo/OT extendido</p>
            <ul class="follow-us clearfix">
            </ul>
          </div>
        </li>

        <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><a href="/ArticulosNuevos"><img src="images/NuevaHerr.png" class="img-responsive" alt=""></a></figure>
            <h3><a href="/ArticulosNuevos">Articulos nuevos</a></h3>
            <p>Reporte articulo nuevos</p>
            <ul class="follow-us clearfix">
            </ul>
          </div>
        </li>



      </ul>
    </div>
  </section>
</body>

</html>