<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
        GEMAK
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include ('../partials/head.html') %>
    <!------incluir cabezera navegacion----->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>

    <script type="text/javascript" src="js/Almacen/Editar.js"></script>
</head>

<body>
    <%- include ('../partials/navegacion.html') %>
    <!------incluir navegacion Menu----->

    <div class="card text-center">
        <div class="card-header">
            <!------------------------------ BUSCAR -------------------------------------->
    
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <input required type="text" id="BHerramienta" class="form-control" placeholder="Herramienta..."
                            name="BHerramienta" autocomplete="off" onkeypress="runScript(event)">
                    </div>
                    <div class="form-group col-md-1">
                        <button type="button" id="getProducts" name="getProducts"
                            class="btn btn-secondary" onclick="GETPRODUCTS()">Buscar</button>
                    </div>
                </div>
        </div>
        <div class="card-body">
            <!------------------------------ TABLA -------------------------------------->
            <div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded"
                style="width:96%; height: 700px; overflow: scroll;">
                <table class="table table-condensed table-hover" id="Herr_Encontradas">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Clave</th>
                            <th style="width: 20%">Producto</th>
                            <th style="width: 20%">Almacen</th>
                            <th>Precios</th>
                            <th>Ubicación</th>
                            <th style="width: 20%">Proveedor</th>
                            <th style="width: 20%">Proveedor sec</th>
                            <th style="width: 20%">Familia</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
 
 

     <!-- Modal Sin elementos -->
     <div class="modal fade" id="Cambios" tabindex="-1" role="dialog" aria-labelledby="Cambios"
     aria-hidden="true">
     <div class="modal-dialog" role="document">
       <div class="modal-content">
         <div class="modal-body">
           Cambios realizados!
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
         </div>
       </div>
     </div>
   </div>

</body>