<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
        GEMAK
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include ('../partials/head.html') %>
    <!------incluir cabezera navegacion----->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    <!-------------------------------------------------     PDF     ---------------------------------------------------------------->
    <script src="js/Recursos/jspdf.min.js"></script>
    <script src="js/Recursos/jspdf.plugin.autotable.min.js"></script>

    <script type="text/javascript" src="js/Almacen/Gaveta.js"></script>
</head>

<body onload="TablaRecoleccion()">
    <%- include ('../partials/navegacion.html') %>
    <!------incluir navegacion Menu----->

    <div class="card text-center">
        <div class="card-header">
            <!------------------------------ BUSCAR -------------------------------------->

            <div class="form-row">
                <div class="form-group col-md-0">
                    <a href="#" class="badge badge-info" data-target="#ModalRecoleccion" data-toggle="modal"><span
                            id="value">0</span></a>
                </div>
                <div class="form-group col-md-2">
                    <input required type="text" id="BHerramienta" class="form-control" placeholder="Herramienta..."
                        name="BHerramienta" autocomplete="off" onkeypress="runScript(event)">
                </div>
                <div class="form-group col-md-1">
                    <button type="button" id="getProducts" name="getProducts" class="btn btn-secondary"
                        onclick="GETPRODUCTS()">Buscar</button>
                </div>
            </div>

        </div>
        <div class="card-body">
            <!------------------------------ TABLA -------------------------------------->
            <div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded"
                style="width:96%; height:350px; overflow: scroll;">
                <table class="table table-condensed table-hover" id="Herr_Encontradas">
                    <thead>
                        <tr>
                            <th>Clave</th>
                            <th>Articulo</th>
                            <th>Cantidad</th>
                            <th>Usados</th>
                            <th>Ubicación</th>
                            <th>Agregar</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>

            <div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded">
                <form id="RegistroSalida" name="RegistroSalida">

                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="inputAddress" class="font-weight-bold">Descripción herramienta</label>
                            <input required type="text" id="Producto" class="form-control text-dark"
                                placeholder="Herramienta..." name="Sal_Herramienta" autocomplete="off" readonly
                                required>
                        </div>

                        <div class="form-group col-md-1">
                            <label for="inputAddress2" class="font-weight-bold">Ubicación</label>
                            <input required type="text" id="Ubicacion" class="form-control" placeholder="A,5,B,2"
                                name="Sal_Ubicación" autocomplete="off" readonly required>
                        </div>

                        <div class="form-group col-md-1">
                            <label for="inputAddress2" class="font-weight-bold">Cantidad</label>
                            <input type="text" id="cantidad" class="form-control solo-numero" name="Sal_Cantidad"
                                autocomplete="off" required>
                        </div>

                        <div class="form-group col-md-1">
                            <label for="inputState" class="font-weight-bold">Estado</label>
                            <select required id="Estado" name="Sal_Estado" class="form-control">
                                <option value="Nuevo" selected>Nuevo</option>
                                <option value="Usado">Usado</option>
                            </select>
                        </div>

                        <div class="form-group col-md-1">
                            <label for="inputState" class="font-weight-bold">Planta</label>
                            <select required id="Planta" name="Planta" class="form-control">
                                <option value="Morelos" selected>Morelos</option>
                                <option value="Bravo">Bravo</option>
                            </select>
                        </div>

                        <div class="form-group col-md-3">
                            <label for="inputAddress2" class="font-weight-bold">Comentario</label>
                            <input type="text" id="Comentario" class="form-control" placeholder="Comentario"
                                name="Sal_Comentario" autocomplete="off" value="N/A">
                        </div>

                    </div>
                </form>

                <br>
                <div style="width: 5%px;display: inline-block;">
                    <button type="submit" class="btn btn-secondary" onclick="CrearNota()">Agregar</button>
                </div>
            </div>

            <div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded">
                <table class="table table-condensed table-hover" id="Almacen">
                    <thead class="thead-dark">
                        <tr>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Estado</th>
                            <th>Planta</th>
                            <th>Comentario</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
                <br><br>
                <hr/>

                <button type="button" class="btn btn-secondary" onclick="Transferir()" data-target="#exampleModal"
                    data-toggle="modal">Transferir</button>
            </div>
        </div>
    </div>

    <!-- Modal Nota -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    Nota creada correctamente
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                      >Close</button>
                </div>
            </div>
        </div>
    </div>

    <!--ModalRecoleccion-->
    <div class="modal fade bd-example-modal-lg" id="ModalRecoleccion" tabindex="-1" role="dialog"
        aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div id="Nota" class="list-group">
                    <!------------------------------ TABLA-------------------------------------->
                    <div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded">
                        <table class=" table table-bordered table-hover" id="TablaRecoleccion">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                    <th>Planta</th>
                                    <th>Recolectar</th>
                                </tr>
                            </thead>
                            <tbody id="CuerpoNota">

                            </tbody>
                        </table>

                        <br><br>
                        <hr />
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="Recolectar()"
                            data-target="#RecoleccionExito" data-toggle="modal">Registrar</button>
                    </div>
                    <!-- <a class="list-group-item list-group-item-action"> Item 1</a>-->
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Sin elementos -->
    <div class="modal fade" id="Vacio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    No se encontraron elementos con ese nombre.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                       >Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Sin elementos -->
    <div class="modal fade" id="RecoleccionExito" tabindex="-1" role="dialog" aria-labelledby="RecoleccionExito"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    Recolección exitosa.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                      >Close</button>
                </div>
            </div>
        </div>
    </div>

</body>