<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="shortcut icon" href="/icon/Gemak.ico" type="image/x-icon">
  <link rel="icon" href="/icon/Gemak.ico" type="image/x-icon">
  <title>
    GEMAK
  </title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%- include ('../../partials/head.html') %>
  <!------incluir cabezera navegacion----->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
  <script type="text/javascript" src="js/Almacen/ProdNuevo.js"></script>
 
 
  <!-- css -->
  <link rel="stylesheet" href="css/StyleLogistica.css">

</head>

<body onload="CargarAlmacen()">
  <%- include ('../../partials/navegacion.html') %>

  <div class="card text-center">
    <div class="card-header">
      <!------------------------------ BUSCAR -------------------------------------->
      <div class="form-row">

        <div class="form-group col-md-1   ">
          <input required type="text" id="BHerramienta" class="form-control" placeholder="Herramienta..."
            name="Herramienta" autocomplete="off" onkeypress="runScript(event)" required>
        </div>

        <div class="form-group col-md-1">
          <button type="button" id="getProducts" name="getProducts" class="btn btn-dark btn-sm"
          onclick="GETPRODUCTS()">Buscar</button>
        </div>
        <div class="form-group col-md-7">
          <button type="button" id="NuevoProducto" name="NuevoProducto" class="btn btn-secondary btn-lg"
            onclick="modal()" data-bs-toggle="modal" data-bs-target="#ModalNuevoPro">Nuevo Producto</button>
        </div>
      </div>
    </div>
  </div>
  <br>

 <div class="card-body">
    <!------------------------------ TABLA -------------------------------------->
    <div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded"
        style="width:96%; height:650px; overflow: scroll;">
        <table class="table table-condensed table-hover" id="Herr_Encontradas">
          <thead>
            <tr>
              <th>Clave</th>
              <th>Articulo</th>
              <th>Cantidad</th>
              <th>Usados</th>
              <th>Ubicacion</th>
              <th>Planta</th>
            </tr>
          </thead>
          <tbody>
         
          </tbody>
        </table>
    </div>
</div>

  


  <%- include ('../NuevoProducto/ModalNuevoPro.html') %>



 
</body>

</html>