<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
        GEMAK
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include ('../../partials/head.html') %>
        <!------incluir cabezera navegacion----->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
        <!-- GENERAR EXCEL -->
        <script src="https://cdn.jsdelivr.net/alasql/0.3/alasql.min.js"></script><!-- GENERAR EXCEL -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.7.12/xlsx.core.min.js"></script>
        <!-- GENERAR EXCEL -->
        <!-----------------------------------------------     FECHAS MOMENTS     ---------------------------------------------------------------->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
        <script type="text/javascript" src="js/Almacen/ConsumoBasico/Reporte.js"></script>
</head>

<body>
    <%- include ('../../partials/navegacion.html') %>
        <!------incluir navegacion Menu----->

        <div class="card text-center">
            <div class="card-header">
                <!------------------------------ BUSCAR -------------------------------------->
                <div class="form-row">
                   <!--  <div class="form-group col-md-2">
                        <label for="inputAddress2" class="font-weight-bold">Herramienta / OT</label>
                        <input required type="text" id="BHerramienta" class="form-control" name="BHerramienta"
                            autocomplete="off">
                    </div> -->

                    <div class="form-group col-md-2">
                        <label for="inputAddress2" class="font-weight-bold">Fecha inicio</label>
                        <input required type="date" id="inicio" class="form-control" name="Inicio" autocomplete="off">
                    </div>

                    <div class="form-group col-md-2">
                        <label for="inputAddress2" class="font-weight-bold">Fecha Vencimiento</label>
                        <input required type="date" id="fin" class="form-control" name="vencimiento" autocomplete="off">
                    </div>

                    <div class="form-group col-md-1">
                        <label for="inputState" class="font-weight-bold">Almacen</label>
                        <select required id="Almacen" name="Sal_Estatus" class="form-select">
                            <option selected>Bravo</option>
                            <option>Morelos</option>
                        </select>
                    </div>

                    <div class="form-group col-md-1 p-4">
                        <button type="button" id="getProducts" name="getProducts" class="btn btn-secondary "
                            onclick="MostrarReporteHerramienta()">Buscar</button>
                    </div>
<!-- 
                    <div class="form-group col-md-1 p-4">
                        <button type="button" id="getProducts" name="getProducts" class="btn btn-info "
                            onclick="ExcelArticulo()">Exportar</button>
                    </div> -->

                </div>
            </div> 
        </div>
        <div class="card-body">
            <div class="card-header">
                <p class="card-text">Reporte de consumo</p>
            </div>
            <!------------------------------ TABLA -------------------------------------->
            <div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded"
                style="width:96%; height:650px; overflow: scroll;">
                <table class="table table-condensed table-hover " id="TablaReporte">
                    <thead>
                        <tr> 
                            <th>Clave</th>
                            <th>Familia</th>
                            <th>Almacen</th>
                            <th>Producto</th>
                            <th>Consumo</th>
                            <th>Stock</th>
                            <th>Min</th>
                            <th>Max</th>
                            <th>Usado</th>
                            <th>Precio</th>
                            <th>Moneda</th>
                            <th>OC/Fecha</th>
                            <th>Proveedor</th>
                            <th>Entrega</th> 
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>


</body>