<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="ModalPeticiones"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">SOLICITUD DE COMPRA</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form id="FormularioEficicencia">
          <div class="form-group">

            <div class="form-row">
              <div class="col">
                <label for="recipient-name" class="col-form-label">Folio:</label>
                <input type="text" class="form-control" id="P_Folio" readonly value="0153">
              </div>
              <div class="col">
                <label for="recipient-name" class="col-form-label">OT:</label>
                <input type="text" class="form-control" id="P_OT" value="1702861">
              </div>
              <div class="col">
                <label for="recipient-name" class="col-form-label">PN:</label>
                <input type="text" class="form-control" id="P_PN" value="0205">
              </div>
              <div class="col">
                <label for="recipient-name" class="col-form-label">Fecha:</label>
                <input type="text" class="form-control" id="P_Fecha" readonly value="0153">
              </div>
            </div>

            <hr>

            <div class="form-row">
              <div class="col">
                <label for="recipient-name" class="col-form-label">Nombre:</label>
                <input type="text" class="form-control bg-dark text-white" id="P_Nombre" value="Sergio Mañas">
              </div>
              <div class="col">
                <label for="recipient-name" class="col-form-label">Correo:</label>
                <input type="text" class="form-control bg-dark text-white" id="P_Correo" value="soporte@gemak.com.mx">
              </div>
            </div>

            <hr>

            <div class="form-row">
              <div class="col">
                <label for="recipient-name" class="col-form-label">Producto:</label>
                <input type="text" class="form-control bg-dark text-white" id="P_Producto" value="Teclado Gamer Negro X2">
              </div>
              <div class="col-2">
                <label for="recipient-name" class="col-form-label">Cantidad:</label>
                <input type="text" class="form-control bg-dark text-white" id="P_Cantidad" value="1">
              </div>
            </div>

            <hr>

            <div class="form-row">
              <div class="col">
                <label for="recipient-name" class="col-form-label">Link:</label>
                <input type="text" class="form-control bg-dark text-white" id="P_Link" value="https://mega.nz/folder/rSAmFAaL#DXNJbHCJeMfvHw4y3SYXOg/folder/zDBWwIZR">
              </div>
            </div>

            <hr>

            <div class="form-row">
              <div class="col">
                <label for="recipient-name" class="col-form-label">Cotización:</label>
                <input type="file" id="subir_archivo" name="archivo" />
                <div id="resultado"></div>
              </div>

              <div class="col">
                <label for="recipient-name" class="col-form-label">Ayuda visual:</label>
                <input type="file" class="form-control-file" id="P_Ayuda" />
              </div>
            </div>

            <hr>

            <div class="form-row">
              <div class="col text-center">
                <label for="recipient-name" class="col-form-label">Notas:</label>
                <textarea class="form-control bg-dark text-white" id="P_Notas" rows="3"></textarea>
              </div>
            </div>


          </div>

        </form>
      </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-light" onclick="SolicitarCompra()"
          data-dismiss="modal">Guardar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      </div>



    </div>
  </div>
</div>