
  <!------ Modal ----->
  <div class="container my-4">
    <!-- Central Modal Fluid -->
    <div class="modal fade" id="ModalImportaciones" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-fluid" role="document">
        <!--Content-->
        <div class="modal-content">
          <!--Header-->
          <div class="modal-header">
            <h4 class="modal-title w-100" id="myModalLabel">IMPORTACIONES </h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!--Body-->
          <div class="modal-body">
            <!-- AQUI VA NUESTRO CONTENIDO -->
            <div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded">
              <div class="form-row">
                <div class="form-group col-md-1">
                  <input type="text" id="Pedimento" class="form-control" placeholder="Pedimento..." name="Pedimento"
                    autocomplete="off" required>
                </div>
                <div class="form-group col-md-1">
                  <input type="text" id="Origen" class="form-control" placeholder="Origen..." name="Origen"
                    autocomplete="off" required>
                </div>
                <div class="form-group col-md-2">
                  <input type="text" id="Proveedor" class="form-control" placeholder="Proveedor..." name="Proveedor"
                    autocomplete="off" required>
                </div>
                <div class="form-group col-md-1">
                  <input type="text" id="Factura" class="form-control" placeholder="Factura..." name="Factura"
                    autocomplete="off" required>
                </div>
                <div class="form-group col-md-1">
                  <input type="text" id="Monto" class="form-control" placeholder="Monto..." name="Monto"
                    autocomplete="off" required>
                </div>
                <div class="form-group col-md-1">
                  <input type="text" id="Cantidad" class="form-control" placeholder="Cantidad..." name="Cantidad"
                    autocomplete="off" required>
                </div>
                <div class="form-group col-md-1">
                  <input type="text" id="OT" class="form-control" placeholder="OT..." name="OT" autocomplete="off"
                    required>
                </div>
                <div class="form-group col-md-1">
                  <input type="text" id="OC" class="form-control" placeholder="OC..." name="OC" autocomplete="off"
                    required>
                </div>
                <div class="form-group col-md-3">
                  <input type="text" id="Descripcion" class="form-control" placeholder="Descripción..."
                    name="Descripcion" autocomplete="off" required>
                </div>
                <div class="form-group col-md-2">
                  <input type="text" id="Diam" class="form-control" placeholder="Diametro..." name="Diam"
                    autocomplete="off" required>
                </div>
                <div class="form-group col-md-2">
                  <input type="text" id="DiamIn" class="form-control" placeholder="DiamIn..." name="DiamIn"
                    autocomplete="off" required>
                </div>
                <div class="form-group col-md-1">
                  <input type="text" id="Largo" class="form-control" placeholder="Largo..." name="Largo"
                    autocomplete="off" required>
                </div>
                <div class="form-group col-md-1">
                  <input type="text" id="LBS" class="form-control" placeholder="LBS..." name="LBS" autocomplete="off"
                    required>
                </div>
                <div class="form-group col-md-1">
                  <input type="text" id="KG" class="form-control" placeholder="KG..." name="KG" autocomplete="off"
                    required>
                </div>
                <div class="form-group col-md-1">
                  <input type="text" id="Colada" class="form-control" placeholder="Colada..." name="Colada"
                    autocomplete="off" required>
                </div>
                <div class="form-group col-md-1">
                  <input type="text" id="Tarima" class="form-control" placeholder="Tarima..." name="Tarima"
                    autocomplete="off" required>
                </div>

              </div>
            </div>
          </div>
          <!--Footer-->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" onclick="GuardarNota()"  data-dismiss="modal">Guardar</button>
          </div>
        </div>
        <!--/.Content-->
      </div>
    </div>
    <!-- Central Modal Fluid -->
  </div>
  <!------ Modal ----->


  
  <!------ Modal ----->
  <div class="container my-4">
    <!-- Central Modal Fluid -->
    <div class="modal fade" id="ModalEnsambles" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-fluid" role="document">
        <!--Content-->
        <div class="modal-content">
          <!--Header-->
          <div class="modal-header">
            <h4 class="modal-title w-100" id="myModalLabel">IMPORTACIONES </h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!--Body-->
          <div class="modal-body">
            <!-- AQUI VA NUESTRO CONTENIDO -->
            <div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded">
              <div class="form-row">
                <div class="form-group col-md-1">
                  <input type="text" id="Origen" class="form-control" placeholder="Origen..." name="Origen"
                    autocomplete="off" required>
                </div>
                <div class="form-group col-md-2">
                  <input type="text" id="Proveedor" class="form-control" placeholder="Proveedor..." name="Proveedor"
                    autocomplete="off" required>
                </div>
                <div class="form-group col-md-1">
                  <input type="text" id="Factura" class="form-control" placeholder="Factura..." name="Factura"
                    autocomplete="off" required>
                </div>
                <div class="form-group col-md-1">
                  <input type="text" id="Monto" class="form-control" placeholder="Monto..." name="Monto"
                    autocomplete="off" required>
                </div>
                <div class="form-group col-md-1">
                  <input type="text" id="Cantidad" class="form-control" placeholder="Cantidad..." name="Cantidad"
                    autocomplete="off" required>
                </div>
                <div class="form-group col-md-1">
                  <input type="text" id="OT" class="form-control" placeholder="OT..." name="OT" autocomplete="off"
                    required>
                </div>
                <div class="form-group col-md-1">
                  <input type="text" id="OC" class="form-control" placeholder="OC..." name="OC" autocomplete="off"
                    required>
                </div>
                <div class="form-group col-md-2">
                  <input type="text" id="Descripcion" class="form-control" placeholder="Descripción..."
                    name="Descripcion" autocomplete="off" required>
                </div>
                <div class="form-group col-md-2">
                  <input type="text" id="Diam" class="form-control" placeholder="Diametro..." name="Diam"
                    autocomplete="off" required>
                </div>
                <div class="form-group col-md-2">
                  <input type="text" id="DiamIn" class="form-control" placeholder="DiamIn..." name="DiamIn"
                    autocomplete="off" required>
                </div>
                <div class="form-group col-md-1">
                  <input type="text" id="Largo" class="form-control" placeholder="Largo..." name="Largo"
                    autocomplete="off" required>
                </div>
                <div class="form-group col-md-1">
                  <input type="text" id="LBS" class="form-control" placeholder="LBS..." name="LBS" autocomplete="off"
                    required>
                </div>
                <div class="form-group col-md-1">
                  <input type="text" id="KG" class="form-control" placeholder="KG..." name="KG" autocomplete="off"
                    required>
                </div>
                <div class="form-group col-md-1">
                  <input type="text" id="Colada" class="form-control" placeholder="Colada..." name="Colada"
                    autocomplete="off" required>
                </div>
                <div class="form-group col-md-1">
                  <input type="text" id="Tamaño" class="form-control" placeholder="Tamaño..." name="Tamaño"
                    autocomplete="off" required>
                </div>

              </div>
            </div>
          </div>
          <!--Footer-->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
        <!--/.Content-->
      </div>
    </div>
    <!-- Central Modal Fluid -->
  </div>
  <!------ Modal ----->