
  <!------ Modal ----->
  <div class="container my-1">
    <!-- Central Modal Fluid -->
    <div class="modal fade" id="ModalProveedor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">
          <!--Header-->
          <div class="modal-header">
            <h4 class="modal-title w-100" id="myModalLabel">Proveedor Nuevo </h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!--Body-->
          <div class="modal-body">
            <!-- AQUI VA NUESTRO CONTENIDO -->
            <div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded">
              <form id="FormNuevoPro">
              <div class="form-row">

                <div class="form-group col">
                  <input type="text" id="Proveedor" class="form-control" placeholder="Proveedor..." name="Proveedor"
                    autocomplete="off" required>
                </div>  

              </div>
            </form>
            </div>
          </div>
          <!--Footer-->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" onclick="RegistroProveedor()"  data-dismiss="modal">Guardar</button>
          </div>
        </div>
        <!--/.Content-->
      </div>
    </div>
    <!-- Central Modal Fluid -->
  </div>
  <!------ Modal ----->