<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
        GEMAK
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include ('../../partials/head.html') %>
        <!------incluir cabezera navegacion----->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>

        <script type="text/javascript" src="js/Almacen/Herramientas/Editar.js"></script>
</head>

<body>
    <%- include ('../../partials/navegacion.html') %>
        <!------incluir navegacion Menu----->

        <div class="card text-center">
            <div class="card-header">
                <!------------------------------ BUSCAR -------------------------------------->

                <div class="form-row">
                    <div class="ml-5 p-2 bd-highlight">
                        <input required type="text" id="BHerramienta" class="form-control" placeholder="Herramienta..."
                            name="BHerramienta" autocomplete="off" onkeypress="runScript(event)" value="be">
                    </div>
                    <div class="align-self-center">
                        <button type="button" id="getProducts" name="getProducts" class="btn btn-secondary"
                            onclick="GETPRODUCTS()"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>

                    <div class="form-group col-md-6 btn-space ">
                        <button type="button" id="getProducts" name="getProducts" class="btn btn-success"
                            data-toggle="modal" data-target="#ModalFormularioNuevo""><i class=" fas fa-plus"></i> Crear
                            Herramienta</button>
                    </div>

                </div>
            </div>
            <div class="card-body">
                <!------------------------------ TABLA -------------------------------------->
                <div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded"
                    style="width:96%; height: 700px; overflow: scroll;">
                    <table class="table table-condensed table-hover" id="Herr_Encontradas">
                        <thead>
                            <tr>
                                <!-- Clave,Familia,Marca, Grado, Tipo, Descripcion, MedidaDiametro, Parte, Ubicacion, Link, Comentario -->

                                <th style="width: 1%"></th>
                                <th style="width: 10%">Clave</th>
                                <th style="width: 20%">Descripcion</th>
                                <th>Planta</th>
                                <th>Diametro</th>
                                <th>Caracteristicas</th>
                                <th style="width: 20%">Codigo</th>
                                <th>Inserto</th>
                                <th>Marca</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <!-- Modal Sin elementos -->
        <div class="modal fade" id="Cambios" tabindex="-1" role="dialog" aria-labelledby="Cambios" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        Cambios realizados!
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>



        <!-- Modal Editar -->
        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="ModalFormulario"
            aria-labelledby="myLargeModalLabel" aria-hidden="false">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Editar Herramienta</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <form id="Formulario">
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col">
                                        <label for="recipient-name" class="col-form-label">id:</label>
                                        <input type="text" class="form-control" id="E_id" readonly>
                                    </div>
                                    <div class="col">
                                        <label for="recipient-name" class="col-form-label">Clave:</label>
                                        <input type="text" class="form-control" id="E_Clave" readonly>
                                    </div>

                                    <div class="col">
                                        <label for="recipient-name" class="col-form-label">Planta:</label>
                                        <input type="text" class="form-control" id="E_Planta" readonly>
                                    </div>
                                </div>
                                <hr>
                                <div class="form-row">
                                    <div class="col">
                                        <label for="Descripcion" class="col-form-label">Descripción:</label>
                                        <input type="text" class="form-control" id="E_Descripcion">
                                    </div>
                                </div>

                                <hr>
                                <div class="form-row">
                                    <div class="col">
                                        <label for="Diametro" class="col-form-label">Diametro:</label>
                                        <input type="text" class="form-control" id="E_Diametro">
                                    </div>
                                    <div class="col">
                                        <label for="recipient-name" class="col-form-label">Caracteristicas:</label>
                                        <input type="text" class="form-control" id="E_Caracteristicas">
                                    </div>
                                    <div class="col">
                                        <label for="recipient-name" class="col-form-label">Código:</label>
                                        <input type="text" class="form-control" id="E_Codigo">
                                    </div>
                                </div>

                                <hr>
                                <div class="form-row">
                                    <div class="col">
                                        <label for="recipient-name" class="col-form-label">Inserto:</label>
                                        <input type="text" class="form-control" id="E_Inserto">
                                    </div>
                                    <div class="col">
                                        <label for="recipient-name" class="col-form-label">Marca:</label>
                                        <input type="text" class="form-control" id="E_Marca">
                                    </div>
                                    <div class="col">
                                        <label for="recipient-name" class="col-form-label">Seat:</label>
                                        <input type="text" class="form-control" id="E_Seat">
                                    </div>
                                    <div class="col">
                                        <label for="recipient-name" class="col-form-label">Clamp:</label>
                                        <input type="text" class="form-control" id="E_Clamp">
                                    </div>
                                </div>

                                <hr>
                                <div class="form-row">
                                    <div class="col">
                                        <label for="recipient-name" class="col-form-label">Screw:</label>
                                        <input type="text" class="form-control" id="E_Screw">
                                    </div>
                                    <div class="col">
                                        <label for="recipient-name" class="col-form-label">Comentario:</label>
                                        <input type="text" class="form-control" id="E_Comentario">
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close"
                            data-toggle="modal" data-target="#ModalEliminar" onclick="TomarIdEliminar()"><i
                                class="fa-solid fa-trash-can"></i> Eliminar</button>

                        <button type="button" class="btn btn-success" data-dismiss="modal" aria-label="Close"
                            onclick="GuardarCambiosGaveta()"><i class="fa-solid fa-floppy-disk"></i> Guardar</button>
                    </div>

                </div>
            </div>
        </div>




        <!-- Modal Nuevo -->
        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="ModalFormularioNuevo"
            aria-labelledby="myLargeModalLabel" aria-hidden="false">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Crear Herramienta</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <form id="Formulario">
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col">
                                        <label for="recipient-name" class="col-form-label">Clave:</label>
                                        <input type="text" class="form-control" id="New_Clave">
                                    </div>

                                    <div class="col">
                                        <label for="inputState" class="font-weight-bold">Planta</label>
                                        <select required id="New_Planta" name="New_Planta" class="form-select">
                                            <option selected>Bravo</option>
                                            <option>Morelos</option>
                                        </select>
                                    </div>
                                </div>
                                <hr>
                                <div class="form-row">
                                    <div class="col">
                                        <label for="Descripcion" class="col-form-label">Descripción:</label>
                                        <input type="text" class="form-control" id="New_Descripcion">
                                    </div>
                                </div>

                                <hr>
                                <div class="form-row">
                                    <div class="col">
                                        <label for="Diametro" class="col-form-label">Diametro:</label>
                                        <input type="text" class="form-control" id="New_Diametro">
                                    </div>
                                    <div class="col">
                                        <label for="recipient-name" class="col-form-label">Caracteristicas:</label>
                                        <input type="text" class="form-control" id="New_Caracteristicas">
                                    </div>
                                    <div class="col">
                                        <label for="recipient-name" class="col-form-label">Código:</label>
                                        <input type="text" class="form-control" id="New_Codigo">
                                    </div>
                                </div>

                                <hr>
                                <div class="form-row">
                                    <div class="col">
                                        <label for="recipient-name" class="col-form-label">Inserto:</label>
                                        <input type="text" class="form-control" id="New_Inserto">
                                    </div>
                                    <div class="col">
                                        <label for="recipient-name" class="col-form-label">Marca:</label>
                                        <input type="text" class="form-control" id="New_Marca">
                                    </div>
                                    <div class="col">
                                        <label for="recipient-name" class="col-form-label">Seat:</label>
                                        <input type="text" class="form-control" id="New_Seat">
                                    </div>
                                    <div class="col">
                                        <label for="recipient-name" class="col-form-label">Clamp:</label>
                                        <input type="text" class="form-control" id="New_Clamp">
                                    </div>
                                </div>

                                <hr>
                                <div class="form-row">
                                    <div class="col">
                                        <label for="recipient-name" class="col-form-label">Screw:</label>
                                        <input type="text" class="form-control" id="New_Screw">
                                    </div>
                                    <div class="col">
                                        <label for="recipient-name" class="col-form-label">Comentario:</label>
                                        <input type="text" class="form-control" id="New_Comentario">
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal"
                            onclick="GuardarNuevoHerramental()"><i class="fa-solid fa-floppy-disk"></i> Guardar</button>
                        <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>-->
                    </div>


                </div>
            </div>
        </div>




        <!-- Modal Eliminar-->
        <div class="modal fade" id="ModalEliminar" tabindex="-1" role="dialog" aria-labelledby="ModalEliminar"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Cuidado!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Se eliminara permanentemente
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"
                            onclick="EliminarHerramental()">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal Sin elementos -->
        <div class="modal fade" id="Vacio" tabindex="-1" role="dialog" aria-labelledby="Cambios" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        Sin resultados!
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Sin elementos -->
        <div class="modal fade" id="ErrorGuardar" tabindex="-1" role="dialog" aria-labelledby="Cambios" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                       No se logro guardar!
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
</body>