<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
        GEMAK
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include ('../../partials/head.html') %>
        <!------incluir cabezera navegacion----->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
        <!-- GENERAR EXCEL -->
        <script src="https://cdn.jsdelivr.net/alasql/0.3/alasql.min.js"></script><!-- GENERAR EXCEL -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.7.12/xlsx.core.min.js"></script>
        <!-- GENERAR EXCEL -->
        <script type="text/javascript" src="js/Almacen/Herramientas/Movimientos.js"></script>

        <!-----------------------------------------------     FECHAS MOMENTS     ---------------------------------------------------------------->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
</head>

<body onload="InicarFechas()">
    <%- include ('../../partials/navegacion.html') %>
        <!------ incluir navegacion Menu ----->
        <div class="card text-center">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex flex-row justify-content-center ">
                                    <div class="p-2 bd-highlight">
                                        <label for="inputAddress2" class="font-weight-bold">Fecha inicio</label>
                                        <input required type="date" id="inicio" class="form-control" name="Inicio"
                                            autocomplete="off">
                                    </div>

                                    <div class="p-2 bd-highlight">
                                        <label for="inputAddress2" class="font-weight-bold">Fecha limite</label>
                                        <input required type="date" id="fin" class="form-control" name="vencimiento"
                                            autocomplete="off">
                                    </div>

                                    <div class="p-2 bd-highlight">
                                        <label for="inputState" class="font-weight-bold">Almacen</label>
                                        <select required id="Almacen" name="Sal_Estatus" class="form-select">
                                            <option selected>Bravo</option>
                                            <option>Morelos</option>
                                        </select>
                                    </div>

                                    <div class="p-2 bd-highlight">
                                        <label for="inputState" class="font-weight-bold">Categoria</label>
                                        <select required id="Categoria" name="Categoria" class="form-select">
                                            <option value="DespachoHerramienta" selected>Despachos</option>
                                            <option value="RetornoHerramental">Retornos</option>
                                        </select>
                                    </div>

                                    <div class="p-2 align-self-center">
                                        <button type="button" id="getProducts" name="getProducts"
                                            class="btn btn-secondary " onclick="MostrarReporte()"><i
                                                class="fa-solid fa-magnifying-glass"></i>
                                            Buscar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex flex-row justify-content-center ">
                                    <div class="p-2 bd-highlight">
                                        <label for="inputState" class="font-weight-bold">Categoria</label>
                                        <select required id="CategoriaF" name="Categoria" class="form-select">
                                            <option value="DespachoHerramienta" selected>Despachos</option>
                                            <option value="RetornoHerramental">Retornos</option>
                                        </select>
                                    </div>

                                    <div class="p-2 bd-highlight">
                                        <label for="inputState" class="font-weight-bold">Almacen</label>
                                        <select required id="AlmacenF" name="Sal_Estatus" class="form-select">
                                            <option selected>Bravo</option>
                                            <option>Morelos</option>
                                        </select>
                                    </div>

                                    <div class="p-2 bd-highlight">
                                        <label for="inputState" class="font-weight-bold">Clave / Descripción:</label>
                                        <input required type="text" id="BHerramienta" class="form-control"
                                            placeholder="Herramienta..." name="BHerramienta" autocomplete="off"
                                            onkeypress="runScript(event)" autofocus="autofocus">
                                    </div>
                                    <div class="p-2 align-self-center">
                                        <button type="button" class="btn btn-dark btn-sm" data_but="btn-xs"
                                            onclick="MostrarReporteFiltrado()"><i
                                                class="fa-solid fa-magnifying-glass"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>





                <!------------------------------ BUSCAR -------------------------------------->


            </div>
        </div>
        <div class="card-body">
            <!------------------------------ TABLA -------------------------------------->
            <div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded"
                style="width:96%; height:650px; overflow: scroll;">
                <table class="table table-condensed table-hover " id="TablaReporte">
                    <thead class="table-dark">
                        <tr>
                            <th>Planta</th>
                            <th>Clave</th>
                            <th>Estado</th>
                            <th>OT</th>
                            <th>Nomina</th>
                            <th>Empleado</th>
                            <th>Familia</th>
                            <th>Maquina</th>
                            <th>Comentario</th>
                            <th>Fecha</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>

            <div class="d-flex flex-row justify-content-center ">
                <div class="p-2 align-self-center">
                    <button type="button" id="getProducts" name="getProducts" class="btn btn-success "
                        onclick="ExcelReporte()"><i class="fa-solid fa-file-excel"></i> Exportar</button>
                </div>
            </div>

        </div>



        <!-- Tabla inteligente vieja-->
        <!-- DATATABLES -->
      <!--   <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script> -->

        <!-- BOOTSTRAP -->
        <!-- <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>-->
        <!-- Tabla inteligente Nueva-->
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
        <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>




        <!-- loader -->
        <div class="modal fade" id="loading" tabindex="-1" role="dialog" aria-labelledby="loadMeLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <div class="loader"></div>

                    </div>
                </div>
            </div>
        </div>

        <!-- Loader -->
        <style>
            .loader {
                position: relative;
                text-align: center;
                margin: 15px auto 35px auto;
                z-index: 9999;
                display: block;
                width: 80px;
                height: 80px;
                border: 10px solid rgba(0, 0, 0, .3);
                border-radius: 50%;
                border-top-color: #000;
                animation: spin 1s ease-in-out infinite;
                -webkit-animation: spin 1s ease-in-out infinite;
            }

            @keyframes spin {
                to {
                    -webkit-transform: rotate(360deg);
                }
            }

            @-webkit-keyframes spin {
                to {
                    -webkit-transform: rotate(360deg);
                }
            }


            /** MODAL STYLING **/

            .modal-content {
                border-radius: 0px;
                box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.7);
            }

            .modal-backdrop.show {
                opacity: 0.75;
            }

            #output {
                padding: 25px 15px;
                background: #222;
                border: 1px solid #222;
                max-width: 350px;
                margin: 35px auto;
                font-family: 'Roboto', sans-serif !important;
            }
        </style>
</body>