<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>
    GEMAK
  </title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%- include ('../../partials/head.html') %>
    <!------incluir cabezera navegacion----->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    <!-----------------------------------------------     FECHAS MOMENTS     ---------------------------------------------------------------->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script type="text/javascript" src="js/Almacen/Herramientas/Despacho.js"></script>
</head>

<body onload="modal()">
  <%- include ('../../partials/navegacion.html') %>
    <!------incluir navegacion Menu----->

 
    <div class="modal fade" id="ModalHerramental" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="false" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-lg"  role="document">
        <div class="modal-content">
          <div class="modal-header">
            <div class="col-4 ">
              <input type="text" id="ClaveBuscar" class="form-control solo-numero" placeholder="Clave..."
                name="Clave" autocomplete="off" value="BE51">
            </div>

            <div class="col">
              <button type="button" class="btn btn-dark btn-sm t-100" data_but="btn-xs" onclick="BuscarHerramental()"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>

            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">
            <form id="Formulario">
              <div class="form-group">

              
 
                

                <hr>
                <div class="form-row">
                  
                </div>

              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary">Despacho</button>
          </div>
        </div>
      </div>
    </div>


 

</body>