<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="ModalAjusteBasico"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Eficiencia</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form id="FormularioAjuste">
          <div class="form-group">

            <div class="form-row">
              <div class="col-2">
                <label for="recipient-name" class="col-form-label">Clave:</label>
                <input type="text" class="form-control" id="Mod_Clave">
              </div>
              <div class="col">
                <label for="recipient-name" class="col-form-label">Producto:</label>
                <input type="text" class="form-control" id="Mod_Producto">
                <input type="text" class="form-control" id="Mod_indice" style="display: none">
              </div>
            </div>

            <hr>

            <div class="form-row">
              <div class="col">
                <label for="recipient-name" class="col-form-label">Almacen:</label>
                <input type="text" class="form-control" id="Mod_Almacen" readonly>
              </div>
              <div class="col">
                <label for="recipient-name" class="col-form-label">Cantidad:</label>
                <input type="number" class="form-control" id="Mod_Cantidad">
              </div>
            </div>

            <hr>

            <div class="form-row">
              <div class="col">
                <label for="recipient-name" class="col-form-label">Razón:</label>
                <input type="text" class="form-control" id="Mod_Razon">
              </div> 
            </div> 

          </div>

        </form>
      </div>



      <div class="modal-footer">
        <button type="button" class="btn btn-light" onclick="ActualizarCantidad()"
          data-dismiss="modal">Guardar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      </div>



    </div>
  </div>
</div>