<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="ModalHistorialAjusteBasico"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Reporte ajuste básico</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form id="Formulario">
          <div class="form-group">
            
            <div class="form-row">
              
              <div class="form-group col">
                <label for="recipient-name" class="col-form-label">Herramienta</label>
                <input required type="text" id="RHerramienta" class="form-control" placeholder="Endmill..."
                  name="BHerramienta" autocomplete="off">
              </div>

               
                <div class="col ">
                  <label for="recipient-name" class="col-form-label">Planta</label>
                  <select required id="Planta" name="Area" class="form-select">
                    <option value="Bravo" selected>Bravo</option>
                    <option value="Morelos">Morelos</option>
                  </select>
                </div>
              
              <hr>
            </div>

            <div class="form-row">
              <div class="col">
                <label for="inputAddress2" class="font-weight-bold">Fecha inicio</label>
                <input required type="date" id="inicio" class="form-control" name="Inicio" autocomplete="off">
              </div>

              <div class="col">
                <label for="inputAddress2" class="font-weight-bold">Fecha Vencimiento</label>
                <input required type="date" id="fin" class="form-control" name="vencimiento" autocomplete="off">
              </div>
            </div>

 

          </div>
        </form>
      </div>



      <div class="modal-footer">
        <button type="button" class="btn btn-light" onclick="MostrarReporteAjusteBasico()" data-dismiss="modal">Exportar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      </div>



    </div>
  </div>
</div>