<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
        GEMAK
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include ('../partials/head.html') %>
    <!-----------------------------------------------     incluir cabezera navegacion     ---------------------------------------------------------------->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    <!-----------------------------------------------     FECHAS MOMENTS     ---------------------------------------------------------------->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <!-----------------------------------------------     FECHAS MOMENTS     ---------------------------------------------------------------->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript" src="js/Produccion/Flujo.js"></script>
    
</head>

<body>
    <%- include ('../partials/navegacion.html') %>

    <div class="row">
        <div class="col-sm-4 p-1">
            <div class="card">
                <div class="card-body">
                    <div class="form-row">

                        <div class="form-group col-md-4">
                            <select required id="Planta" name="Planta" class="form-control">
                                <option value="Bravo" selected>Bravo</option>
                                <option value="Morelos">Morelos</option>
                            </select>
                        </div>

                        <div class="form-group col-md-5">
                            <select required id="Area" name="Area" class="form-control">
                                <option value="Produccion" selected>Produccion</option>
                                <option value="Acabados">Acabados</option>
                                <option value="Tratamientos">Trat. Externos</option>
                                <option value="Calidad">Calidad</option>
                                <option value="Embarques">Embarques</option>
                            </select>
                        </div>

                        <div class="form-group col-md-2 ">
                            <button type="button" id="Carga" name="Carga" class="btn btn-secondary "
                                onclick="Carga()">Buscar</button>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="col-sm-4 p-1">
            <div class="card">
                <div class="card-body">
                    <div class="form-row">

                        <div class="form-group col-md-1.5">
                            <label class="font-weight-bold">Activas</label>
                        </div>

                        <div class="form-group col-md-2">
                            <input required type="text" id="Ubicacion" class="form-control" placeholder="A,5,B,2"
                                name="Sal_Ubicación" autocomplete="off" readonly>
                        </div>

                        <div class="form-group col-md-1.5 ">
                            <label class="font-weight-bold">Vencidas</label>
                        </div>

                        <div class="form-group col-md-2">
                            <input required type="text" id="Ubicacion" class="form-control" placeholder="A,5,B,2"
                                name="Sal_Ubicación" autocomplete="off" readonly>
                        </div>

                        <div class="form-group col-md-1  text-dark  p-1">
                            <label for="inputAddress" class="font-weight-bold"> </label>
                        </div>
                        <div class="form-group col-md-1.5 bg-danger text-dark  p-1">
                            <label for="inputAddress" class="font-weight-bold">-3 Días</label>
                        </div>
                        <div class="form-group col-md-1.5 bg-warning text-dark  p-1">
                            <label for="inputAddress" class="font-weight-bold">4 Días</label>
                        </div>
                        <div class="form-group col-md-1.5 bg-success text-dark  p-1">
                            <label for="inputAddress" class="font-weight-bold">+5 Días</label>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4 p-1">
            <div class="card">
                <div class="card-body">
                    <div class="form-row">

                        <div class="form-group col-md-3">

                            <input required type="text" id="Ubicacion" class="form-control" placeholder="A,5,B,2"
                                name="Sal_Ubicación" autocomplete="off" readonly required>
                        </div>

                        <div class="form-group col-md-3">

                            <input required type="text" id="Ubicacion" class="form-control" placeholder="A,5,B,2"
                                name="Sal_Ubicación" autocomplete="off" readonly required>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card text-center">
        <div class="card-body">
            <div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded">
                <table class="table table-condensed table-hover" id="Tabla">
                    <thead>
                        <tr>
                            <th>N°</th>
                            <th>OT</th>
                            <th>N° Parte</th>
                            <th>Cantidad</th>
                            <th>Planta</th>
                            <th>Area</th>
                            <th>Fecha inicio</th>
                            <th>Fecha vencimiento</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

<style>
/*
Full screen Modal 
*/
.fullscreen-modal .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
@media (min-width: 768px) {
  .fullscreen-modal .modal-dialog {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .fullscreen-modal .modal-dialog {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .fullscreen-modal .modal-dialog {
     width: 1170px;
  }
}

</style>
<!-- Modal -->
<div class="modal fullscreen-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Modal title</h4>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
















    <script type="text/javascript">
        google.charts.load('current', {'packages':['gantt']});
        google.charts.setOnLoadCallback(drawChart);
    
        function daysToMilliseconds(days) {
          return days * 24 * 60 * 60 * 1000;
        }
    
        function drawChart() {
    
          var data = new google.visualization.DataTable();
          data.addColumn('string', 'Task ID');
          data.addColumn('string', 'Task Name');
          data.addColumn('date', 'Start Date');
          data.addColumn('date', 'End Date');
          data.addColumn('number', 'Duration');
          data.addColumn('number', 'Percent Complete');
          data.addColumn('string', 'Dependencies');
    
          data.addRows([
            ['Research', 'Find sources',new Date(2015, 0, 1), new Date(2015, 0, 5), null,  100,  null],
            ['Write', 'Write paper',null, new Date(2015, 0, 9), daysToMilliseconds(3), 25, 'Research,Outline'],
            ['Cite', 'Create bibliography', null, new Date(2015, 0, 7), daysToMilliseconds(1), 20, 'Research'],
            ['Complete', 'Hand in paper', null, new Date(2015, 0, 10), daysToMilliseconds(1), 0, 'Cite,Write'],
            ['Outline', 'Outline paper', null, new Date(2015, 0, 6), daysToMilliseconds(1), 100, 'Research']
          ]);
    
          var options = {
            height: 275
          };
    
          var chart = new google.visualization.Gantt(document.getElementById('chart_div'));
    
          chart.draw(data, options);
        }
      </script>
    
 
      <div id="chart_div"></div>
</body>