<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
        GEMAK
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include ('../partials/head.html') %>
    <!-----------------------------------------------     incluir cabezera navegacion     ---------------------------------------------------------------->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    <!-----------------------------------------------     FECHAS MOMENTS     ---------------------------------------------------------------->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <!-----------------------------------------------     FECHAS MOMENTS     ---------------------------------------------------------------->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript" src="js/Produccion/Flujo.js"></script>

</head>

<body>
    <%- include ('../partials/navegacion.html') %>

    <div class="row">
        <div class="col-sm-4 p-1">
            <div class="card">
                <div class="card-body">
                    <div class="form-row">

                        <div class="form-group col-md-4">
                            <select required id="Planta" name="Planta" class="form-control">
                                <option value="Bravo" selected>Bravo</option>
                                <option value="Morelos">Morelos</option>
                            </select>
                        </div>

                        <div class="form-group col-md-5">
                            <select required id="Area" name="Area" class="form-control">
                                <option value="Produccion" selected>Produccion</option>
                                <option value="Acabados">Acabados</option>
                                <option value="Tratamientos">Trat. Externos</option>
                                <option value="Calidad">Calidad</option>
                                <option value="Embarques">Embarques</option>
                            </select>
                        </div>

                        <div class="form-group col-md-2 ">
                            <button type="button" id="Carga" name="Carga" class="btn btn-secondary "
                                onclick="Carga()">Buscar</button>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="col-sm-4 p-1">
            <div class="card">
                <div class="card-body">
                    <div class="form-row">

                        <div class="form-group col-md-1.5">
                            <label class="font-weight-bold">Activas</label>
                        </div>

                        <div class="form-group col-md-2">
                            <input required type="text" id="Activas" class="form-control" placeholder="0" name="Activas"
                                autocomplete="off" readonly>
                        </div>

                        <div class="form-group col-md-1.5 ">
                            <label class="font-weight-bold">Vencidas</label>
                        </div>

                        <div class="form-group col-md-2">
                            <input required type="text" id="Vencidas" class="form-control" placeholder="0"
                                name="Vencidas" autocomplete="off" readonly>
                        </div>

                        <div class="form-group col-md-1  text-dark  p-1">
                            <label for="inputAddress" class="font-weight-bold"> </label>
                        </div>
                        <div class="form-group col-md-1.5 bg-danger text-dark  p-1">
                            <label for="inputAddress" class="font-weight-bold">-3 Días</label>
                        </div>
                        <div class="form-group col-md-1.5 bg-warning text-dark  p-1">
                            <label for="inputAddress" class="font-weight-bold">4 Días</label>
                        </div>
                        <div class="form-group col-md-1.5 bg-success text-dark  p-1">
                            <label for="inputAddress" class="font-weight-bold">+5 Días</label>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4 p-1">
            <div class="card">
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-md-2 ">
                            <button type="button" id="Excel" name="Excel" class="btn btn-lg btn-success"
                            onclick="Transferir()">Excel</button></div>

                        <div class="form-group col-md-2 "><button type="button" id="PDF" name="PDF" class="btn btn-lg btn-danger"
                            onclick="Transferir()">PDF</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card text-center">
        <div class="card-body">
            <div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded">
                <table class="table table-condensed table-hover" id="Tabla">
                    <thead>
                        <tr>
                            <th>N°</th>
                            <th>OT</th>
                            <th>N° Parte</th>
                            <th>Cantidad</th>
                            <th>Planta</th>
                            <th>Area</th>
                            <th>Fecha inicio</th>
                            <th>Fecha vencimiento</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <style>
        /*
Full screen Modal 
*/
        .modal-dialog-full-width {
            width: 100% !important;
            height: 100% !important;
            margin: 0 !important;
            padding: 0 !important;
            max-width: none !important;

        }

        .modal-content-full-width {
            height: auto !important;
            min-height: 100% !important;
            border-radius: 0 !important;
            background-color: #ffffff !important
        }

        .modal-header-full-width {
            border-bottom: 1px solid #ffffff !important;
        }

        .modal-footer-full-width {
            border-top: 1px solid #ffffff !important;
        }
    </style>

    <script>
        function modal() {
            $("#exampleModalPreview").modal();
        }
    </script>
 

    <div class="container my-4">
        <!-- Modal -->
        <div class="modal fade right" id="exampleModalPreview" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalPreviewLabel" aria-hidden="true">
            <div class="modal-dialog-full-width modal-dialog momodel modal-fluid" role="document">
                <div class="modal-content-full-width modal-content ">
                    <div class=" modal-header-full-width   modal-header text-center">
                        <h1 class="modal-title w-100" id="exampleModalPreviewLabel">Actualizar flujo
                        </h1>
                        <button type="button" class="close " data-dismiss="modal" aria-label="Close"
                            onclick="Eliminar()">
                            <span style="font-size: 1.3em;" aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <!-- card -->
                            <div class="col-sm-4 p-1 shadow-lg">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="form-row">
                                            <div class="form-group col-md-3">
                                                <input required type="text" id="Cantidad" class="form-control"
                                                    placeholder="Cantidad..." name="Cantidad" autocomplete="off"
                                                    required>
                                            </div>
                                            <div class="form-group col-md-5">
                                                <select required id="Area" name="Area" class="form-control">
                                                    <option value="Produccion" selected>Producción</option>
                                                    <option value="Acabados">Acabados</option>
                                                    <option value="Trat. Externos">Trat. Externos</option>
                                                    <option value="Calidad">Calidad</option>
                                                    <option value="Embarques">Embarques</option>
                                                </select>
                                            </div>

                                            <div class="form-group col-md-2 ">
                                                <button type="button" id="Carga" name="Carga" class="btn btn-secondary "
                                                    onclick="Transferir()">Transferir</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- card -->
                            <div class="col-sm-6 p-1 shadow-lg">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="form-row">
                                            <div class="form-group col-md-2">
                                                <input required type="text" id="CantidadTrat" class="form-control"
                                                    placeholder="Cantidad..." name="CantidadTrat" autocomplete="off">
                                            </div>

                                            <div class="form-group col-md-3">
                                                <select required id="Servicios" name="Servicios" class="form-control">
                                                    <option value="ANODIZADO" selected>ANODIZADO</option>
                                                    <option value="CADMINIZAD">CADMINIZAD</option>
                                                    <option value="CEMENTADO">CEMENTADO</option>
                                                    <option value="COBRE">COBRE</option>
                                                    <option value="CROMO">CROMO</option>
                                                    <option value="FOSFATIZAD">FOSFATIZAD</option>
                                                    <option value="HONE">HONE</option>
                                                    <option value="HULE">HULE</option>
                                                    <option value="Manzur">Manzur</option>
                                                    <option value="NIKEL E">NIKEL E</option>
                                                    <option value="NITRURADO">NITRURADO</option>
                                                    <option value="ORO">ORO</option>
                                                    <option value="PAVON">PAVON</option>
                                                    <option value="PINTURA">PINTURA</option>
                                                    <option value="PREMIUM">PREMIUM</option>
                                                    <option value="PRUEBAS">PRUEBAS</option>
                                                    <option value="QPQ">QPQ</option>
                                                    <option value="RECTIFICAD">RECTIFICAD</option>
                                                    <option value="RELEVADO">RELEVADO</option>
                                                    <option value="REVENIDO">REVENIDO</option>
                                                    <option value="SHOTPEEN">SHOTPEEN</option>
                                                    <option value="SOLDADURA">SOLDADURA</option>
                                                    <option value="TEMPLE">TEMPLE</option>
                                                    <option value="TESTIGO">TESTIGO</option>
                                                    <option value="TROPICALIZ">TROPICALIZ</option>
                                                    <option value="TUNGSTEN">TUNGSTEN</option>
                                                    <option value="VULCANIZAD">VULCANIZAD</option>
                                                    <option value="XYLAN">XYLAN</option>
                                                    <option value="ZINC">ZINC</option>
                                                </select>
                                            </div>

                                            <div class="form-group col-md-3">
                                                <select required id="Proveedores" name="Proveedores"
                                                    class="form-control">
                                                    <option value="Chapa" selected>Chapa</option>
                                                    <option value="Cromadora del Norte">Cromadora del Norte</option>
                                                    <option value="Cromo Industrial">Cromo Industrial</option>
                                                    <option value="Deproinsa">Deproinsa</option>
                                                    <option value="Generados">Generados</option>
                                                    <option value="Indux">Indux</option>
                                                    <option value="Iscsa">Iscsa</option>
                                                    <option value="Manzur">Manzur</option>
                                                    <option value="Maquinados Progreso">Maquinados Progreso</option>
                                                    <option value="Nicolas">Nicolas</option>
                                                    <option value="Omega">Omega</option>
                                                    <option value="Proquimica">Proquimica</option>
                                                    <option value="Tecnotrat">Tecnotrat</option>
                                                    <option value="Testecno">Testecno</option>
                                                    <option value="Tratamientos Victoria">Tratamientos Victoria</option>
                                                </select>
                                            </div>

                                            <div class="col-md-2">
                                                <label><input type="checkbox" id="cbox6" value="first_checkbox">
                                                    Retrabajo</label><br>
                                                <label><input type="checkbox" id="cbox6" value="first_checkbox"> Fin
                                                    Serv. Ext.</label><br>
                                            </div>

                                            <div class="form-group col-md-2 ">
                                                <button type="button" id="Carga" name="Carga" class="btn btn-secondary "
                                                    onclick="Transferir()">Transferir</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- card -->
                            <div class="col-sm-2 p-1 shadow-lg">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="form-row">
                                            <button type="button" id="Carga" name="Carga" class="btn btn-lg btn-danger  btn-block"
                                            onclick="Transferir()">Eliminar registro</button>
                                        </div>
                                    </div>
                                </div>
                            </div>                                                                                                                                                 
                            <!-- card -->
                        </div>

                        <br>
                        <br>
                        <div class="card text-center">
                            <div class="card-body">
                                <div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded">
                                    <table class="table table-condensed table-hover" id="TablaEdit">
                                        <thead>
                                            <tr>
                                                <th>N°</th>
                                                <th>OT</th>
                                                <th>N° Parte</th>
                                                <th>Cantidad</th>
                                                <th>Planta</th>
                                                <!-- <th>Area</th>-->
                                                <th>Fecha inicio</th>
                                                <th>Fecha vencimiento</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td id="indice"><input required readonly type="text" id="R_id"
                                                        class="form-control"></input></td>
                                                <td id="indice"><input required readonly type="text" id="R_OT"
                                                        class="form-control"></input></td>
                                                <td id="indice"><input required readonly type="text" id="R_Parte"
                                                        class="form-control"></input></td>
                                                <td id="indice"><input required type="text" id="R_Cantidad"
                                                        class="form-control"></input></td>
                                                <td id="indice"><select required id="R_Planta" name="Planta"
                                                        class="form-control">
                                                        <option value="Bravo" selected>Bravo</option>
                                                        <option value="Morelos">Morelos</option>
                                                    </select></td>

                                                <!-- <td id="indice"> <select required id="R_Area" name="Area"
                                                        class="form-control">
                                                        <option value="Produccion" selected>Produccion</option>
                                                        <option value="Acabados">Acabados</option>
                                                        <option value="Trat. Externos">Trat. Externos</option>
                                                        <option value="Calidad">Calidad</option>
                                                        <option value="Embarques">Embarques</option>
                                                    </select></td>-->
                                                <td id="indice"><input required type="date" id="R_Inicio"
                                                        class="form-control" name="R_Inicio" autocomplete="off"></td>
                                                <td id="indice"><input required type="date" id="R_Fin"
                                                        class="form-control" name="R_Fin" autocomplete="off"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div id="GraficaGant" class="Diag shadow-lg">
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="modal-footer-full-width  modal-footer">
                        <button type="button" class="btn btn-danger btn-md btn-rounded"
                            data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary btn-md btn-rounded">Guardar cambios</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- DATATABLES -->
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

<!-- BOOTSTRAP -->
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>


</body>