<!--ModalRecoleccion-->
<div class="modal fade bd-example-modal-lg" id="ModalRecoleccion" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div id="Nota" class="list-group">
        <!------------------------------ TABLA-------------------------------------->
        <div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded">
            <table class=" table table-bordered table-hover" id="TablaRecoleccion">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>OT</th>
                        <th>Número de parte</th>
                        <th>Cantidad OT</th>
                        <th>Iniciar</th>
                    </tr>
                </thead>
                <tbody id="CuerpoNota">
  
                </tbody>
                </table>
  
                <br><br>
                <hr />
                <button type="button" class="btn btn-success" data-dismiss="modal"  onclick="Alimentar()" data-target="#RecoleccionExito" data-toggle="modal">Alimentar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal"  onclick="Recolectar()" data-target="#RecoleccionExito" data-toggle="modal">Registrar</button>
                
            </div>
           <!-- <a class="list-group-item list-group-item-action"> Item 1</a>-->
          </div>
      </div>
    </div>
  </div>


  <!--ModalCarga-->
<div class="modal fade bd-example-modal-lg" id="ModalPantallaCarga" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <button class="btn btn-light text-nowrap" type="button">
                <span class="spinner-border spinner-border-sm mr-2"></span>
                Enviando datos...
              </button>
      </div>   
  </div>
</div>



    <!--ModalCarga-->
<div class="modal fade bd-example-modal-lg" id="ModalTransferenciaLista" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <button class="btn btn-light text-nowrap" type="button">
                <span class="spinner-grow mr-2"></span>
               Transferencia completada...
              </button>
      </div>   
  </div>
</div>