<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<link rel="shortcut icon" href="/icon/Gemak.ico" type="image/x-icon">
<link rel="icon" href="/icon/Gemak.ico" type="image/x-icon">
<!-- Diagrama Gant --> 
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script><!-- Diagrama Gant--> 

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!-- Boostrap 4 --> 
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">             
<!-- iconos --> 
<script src="https://kit.fontawesome.com/86322b1947.js" crossorigin="anonymous"></script>
<!-- Barra --> 
<link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600,800,900" rel="stylesheet" type="text/css">

<!------ JQUERY PARA USAR AJAX ----->
<script
src="https://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script>

<link rel="stylesheet" href="/css/Style.css">

<meta http-equiv="Expires" content="0">
  <meta http-equiv="Last-Modified" content="0">
  <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
  <meta http-equiv="Pragma" content="no-cache">



