  
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  

    <nav >
          <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" href="/home"><i class="fas fa-home"></i> Inicio</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fab fa-codepen"></i> Modulos</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/cPlaner">Altas</a>
                  <a class="dropdown-item" href="/Ordenes">Ordenes</a>
                  <a class="dropdown-item" href="/Maquinas">Maquinas</a>
                  <a class="dropdown-item" href="/Vencidas" visibility: hidden>Vencidas</a>
                  <a class="dropdown-item" href="#" visibility: hidden>Reportes</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/Admin">Administración</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-warehouse"></i> Almacen</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/wh_Salidas">Salidas</a>
                  <a class="dropdown-item" href="/wh_Retorno">Retornos</a>
                  <a class="dropdown-item" href="#">Reportes</a>
                  <a class="dropdown-item" href="#" visibility: hidden>Vencidas</a>
                  <a class="dropdown-item" href="#" visibility: hidden>Reportes</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/wh_Requisicion">Requisición</a>
                  <a class="dropdown-item" href="/wh_Admin">Administración</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-address-card"></i> CRM</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/Contactos">Clientes</a>
                  <a class="dropdown-item" href="/Ordenes">Listado</a>
                  <a class="dropdown-item" href="/Maquinas">Reportes</a>
                  <a class="dropdown-item" href="/Vencidas" visibility: hidden>Vencidas</a>
                  <a class="dropdown-item" href="#" visibility: hidden>Reportes</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/AdminCRM">Administración</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fab fa-accusoft"></i> Materiales</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/CargaMateriales">Carga</a>
                  <a class="dropdown-item" href="/Ordenes">Listado</a>
                  <a class="dropdown-item" href="/Maquinas">Reportes</a>
                  <a class="dropdown-item" href="/Vencidas" visibility: hidden>Vencidas</a>
                  <a class="dropdown-item" href="#" visibility: hidden>Reportes</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/AdminCRM">Administración</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fab fa-codepen"></i> Procesos</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/VerInventario">Inventario</a>
                  <a class="dropdown-item" href="/PronosticosProcesos">Pronosticos</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/AdminCRM">Administración</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-shopping-cart"></i> Compras</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/VerInventario">Inventario</a>
                  <a class="dropdown-item" href="/ComprasPronosticos">Pronosticos</a>
                  <a class="dropdown-item" href="/Requisiciones">Requisiciones</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/AdminCRM">Administración</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-chart-bar"></i> Graficas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Desarrollo" tabindex="-1" aria-disabled="true"><i class="fas fa-laptop-code"></i> Desarrollo</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"><i class="fas fa-bug"></i> Pruebas</a>
              </li>
          </ul>
    </nav>






    
   