<!DOCTYPE html>
<html lang="en">

<head>
  <title>Gemak Control</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%- include ('../partials/head.html') %>
  <!------incluir cabezera navegacion----->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <!--===============================================================================================-->
  <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
  <!--===============================================================================================-->
  <!--<link rel="stylesheet" type="text/css" href="css/util.css">-->
  <link rel="stylesheet" type="text/css" href="css/login.css">
  <link rel="stylesheet" type="text/css" href="css/cards.css">
  <!--===============================================================================================-->
</head>

<body>
  <%- include ('../partials/navegacion.html')%>
  

  <section class="our-webcoderskull padding-lg">
    <div class="container">
      <div class="row heading heading-icon">
      </div>
      <ul class="row">
        <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="images/usuarios.png" class="img-responsive" alt=""></figure>
            <h3><a href="/Signup">USUARIOS</a></h3>
            <p>Registro para usuarios nuevos</p>
            <ul class="follow-us clearfix">
            </ul>
          </div>
        </li>
        <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="images/Maquinas.png" class="img-responsive" alt=""></figure>
            <h3><a href="/Alta_Maquina">MAQUINAS </a></h3>
            <p>Registro de maquinas nuevas</p>
            <ul class="follow-us clearfix">
            </ul>
          </div>
        </li>
        <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="images/Horario.png" class="img-responsive" alt=""></figure>
            <h3><a href="/Horarios">Horarios </a></h3>
            <p>Crear plan de trabajo</p>
            <ul class="follow-us clearfix">
            </ul>
          </div>
        </li>
        <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="images/Empleados.png" class="img-responsive" alt=""></figure>
            <h3><a href="/Empleados">Empleados </a></h3>
            <p>Registrar empleados nuevos</p>
            <ul class="follow-us clearfix">
            </ul>
          </div>
        </li>
        <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="images/Excel.png" class="img-responsive" alt=""></figure>
            <h3><a href="/Subir">Vs_Planta </a></h3>
            <p>Cargar vista planta</p>
            <ul class="follow-us clearfix">
            </ul>
          </div>
        </li>



      </ul>
    </div>
  </section>


</body>

</html>