<!DOCTYPE html>
<html lang="en">
<head>
	<title>Gemak Control</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<!--<link rel="stylesheet" type="text/css" href="css/util.css">-->
	<link rel="stylesheet" type="text/css" href="css/login.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url(images/gacklogin.jpg);">
					<span class="login100-form-title-1">
					Gemak Control
					</span>
				</div>

				<form action="/Login" method="POST" class="login100-form validate-form">
					<div class="wrap-input100 validate-input m-b-26" data-validate="Usuario requerido">
						<span class="label-input100">Usuario</span>
						<input class="input100" type="text" name="username">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-18" data-validate = "Contraseña requerida">
						<span class="label-input100">Contraseña</span>
						<input class="input100" type="password" name="pass">
						<span class="focus-input100"></span>
					</div>

					<div class="container-login100-form-btn"> 
                        <button type="submit" class="login100-form-btn"> Login</button>
                	</div>
				</form>
			</div>
		</div>
	</div>

</body>
</html>