
  <!------ Modal ----->
  <div class="container my-4">
    <!-- Central Modal Fluid -->
    <div class="modal fade" id="ModalNewEtiqueta" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-fluid" role="document">
        <!--Content-->
        <div class="modal-content">
          <!--Header-->
          <div class="modal-header">
            <h4 class="modal-title w-100" id="myModalLabel">Etiquetas </h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!--Body-->
          <div class="modal-body">
            <!-- AQUI VA NUESTRO CONTENIDO -->
            <div class="container-fluid shadow-lg p-1 mb-2 bg-white rounded">
              <div class="form-row">
                <div class="form-group col-md-1">
                  <input type="text" id="OC" class="form-control" placeholder="OC..." name="OC"
                    autocomplete="off" required>
                </div>
                <div class="form-group col-md-1">
                  <input type="text" id="OT" class="form-control" placeholder="OT..." name="OT"
                    autocomplete="off" required>
                </div>
                <div class="form-group col-md-1">
                  <input type="text" id="Cantidad" class="form-control" placeholder="Cantidad..." name="Cantidad"
                    autocomplete="off" required>
                </div>
                <div class="form-group col-md-1">
                  <input type="text" id="N.Parte" class="form-control" placeholder="N. Parte..." name="Parte"
                    autocomplete="off" required>
                </div>
                <div class="form-group col-md-3">
                  <input type="text" id="Descripcion" class="form-control" placeholder="Descripcion..." name="Descripcion"
                    autocomplete="off" required>
                </div>

              </div>
              <div class="form-row">
                <div class="form-group col-md-1">
                  <input type="text" id="Usuario" class="form-control" placeholder="Usuario..." name="Usuario"
                    autocomplete="off" required>
                </div>
                <div class="form-group col-md-1">
                  <input type="text" id="Planta" class="form-control" placeholder="Planta..." name="Planta" autocomplete="off"
                    required>
                </div>
              </div>


              
            </div>
          </div>
          <!--Footer-->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" onclick="GuardarNota()"  data-dismiss="modal">Guardar</button>
          </div>
        </div>
        <!--/.Content-->
      </div>
    </div>
    <!-- Central Modal Fluid -->
  </div>
  <!------ Modal ----->


   